In [2]:
import pandas as pd
from tqdm import tqdm
from modules.memory_utils import pandas_reduce_mem_usage, pandas_string_to_cat, my_reset

In [5]:
ndf = df[["city_name", "region_name", "lat"]][df["lat"].isnull()]
ndf

             city_name                    region_name  lat
54553            Венёв               Тульская область  NaN
54627            Венёв               Тульская область  NaN
54851        Киселёвск  Кемеровская область - Кузбасс  NaN
54854        Киселёвск  Кемеровская область - Кузбасс  NaN
54882        Киселёвск  Кемеровская область - Кузбасс  NaN
...                ...                            ...  ...
328574750        Артём                Приморский край  NaN
328574857        Артём                Приморский край  NaN
328574869        Артём                Приморский край  NaN
328575199        Артём                Приморский край  NaN
328635079  Берёзовский  Кемеровская область - Кузбасс  NaN

[1612636 rows x 3 columns]

In [7]:
cities[cities['city_name']=="Москва"]

,region,city_type,city_name,capital_marker,timezone,lat,lon,population
603,Москва,NaN,Москва,0,UTC+3,55.75,37.625,11514330

In [8]:
ndf.city_name.unique().shape[0]

24

In [10]:
1612636 / 322_000_000

0.005008186335403727

In [ ]:
ndf[]

In [11]:
df[df['price'].isnull()][['cpe_model_name','cpe_manufacturer_name']].unique('cpe_model_name')

AttributeError: 'DataFrame' object has no attribute 'unique'

In [34]:
df1 = df[df['price'].isnull()].drop_duplicates(subset=["cpe_model_name"], keep='last')[['cpe_manufacturer_name','cpe_model_name']]
df2 = df.drop_duplicates(subset=["cpe_model_name"], keep='last')[['cpe_manufacturer_name','cpe_model_name']]
df1.shape[0]/df2.shape[0]

0.6176961602671118

In [32]:
df1.reset_index().drop(['index'],axis=1).to_csv('models_no_price.csv')

In [102]:
df = pandas_reduce_mem_usage( pd.read_csv('sites_out_copy.csv', sep=';', index_col=0))
df.head()

Memory usage of dataframe is 0.61 MB

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 7/7 [00:00<?, ?it/s]

Memory usage after optimization is: 0.61 MB
Decreased by 0.0%

,url_host,title,uri,description,site_name,keywords,text
0,http://googleads.g.doubleclick.net,NaN,NaN,NaN,NaN,NaN,NaN
1,http://yandex.ru,Яндекс,NaN,Найдётся всё,NaN,NaN,"Ой! Подтвердите, что запросы отправляли вы, а ..."
2,http://i.ytimg.com,NaN,NaN,NaN,NaN,NaN,NaN
3,http://vk.com,Мобильная версия ВКонтакте | ВКонтакте,NaN,ВКонтакте – универсальное средство для общения...,NaN,NaN,Мобильная версия ВКонтакте | ВКонтакте Установ...
4,http://avatars.mds.yandex.net,NaN,NaN,NaN,NaN,NaN,410 Gone 410 Gone nginx

In [40]:
df.url_host.isna().sum(), df.title.isna().sum(), df.uri.isna().sum(), df.description.isna().sum(), df.site_name.isna().sum(), df.keywords.isna().sum(), df.text.isna().sum()

(1, 2836, 7064, 7216, 7568, 7941, 2122)

In [48]:
import numpy as np

In [103]:
def get_site_name(row):  
    site=str(row).split('.')
    site[0]=site[0][7:]
    if(len(site)>=2):
        site='http://'+site[-2]+'.'+site[-1]
    else:
        site='NULL'
    return site

df = pandas_reduce_mem_usage( pd.read_csv('sites_out_copy.csv', sep=';', index_col=0))
df['site_url']=df['url_host'].apply(lambda x: get_site_name(x))
df['vpn_only']=df['text'].str.contains('403 Forbidden | Akado').fillna(False).astype(int)
df = df[df['site_url'].str.contains('userapi')==0]
df = df[df['vpn_only']==1].reset_index(drop= True )
df.to_csv('sites_out_vpn_only.csv')

,url_host,title,uri,description,site_name,keywords,text,site_url,vpn_only
0,http://instagram.com,Akado,NaN,NaN,NaN,NaN,﻿ Akado Подключение ИНТЕРАКТИВНОГО ТВ Отправит...,http://instagram.com,1
1,http://st.mycdn.me,NaN,NaN,NaN,NaN,NaN,403 Forbidden 403 Forbidden Apache,http://mycdn.me,1
2,http://banners.adfox.ru,NaN,NaN,NaN,NaN,NaN,403 Forbidden 403 Forbidden nginx,http://adfox.ru,1
3,http://tube.buzzoola.com,NaN,NaN,NaN,NaN,NaN,403 Forbidden 403 Forbidden nginx,http://buzzoola.com,1
4,http://m.facebook.com,Akado,NaN,NaN,NaN,NaN,﻿ Akado Подключение ИНТЕРАКТИВНОГО ТВ Отправит...,http://facebook.com,1

In [105]:
df.shape

(665, 9)

In [64]:
def get_site_name(row):  
    if row.co

df['site_url']=df['url_host'].apply(lambda x: get_site_name(x))
df.head()

0.6812

In [100]:
df['vpn_only']=df['text'].str.contains('403 Forbidden | Akado').fillna(False).astype(int)
df = df[df['site_url'].str.contains('userapi')==0]
df = df[df['vpn_only']==1].reset_index(drop= True)
df.head()

,index,level_0,url_host,title,uri,description,site_name,keywords,text,site_url,vpn_only
0,0,0,http://instagram.com,Akado,NaN,NaN,NaN,NaN,﻿ Akado Подключение ИНТЕРАКТИВНОГО ТВ Отправит...,http://instagram.com,1
1,1,11,http://st.mycdn.me,NaN,NaN,NaN,NaN,NaN,403 Forbidden 403 Forbidden Apache,http://mycdn.me,1
2,2,12,http://banners.adfox.ru,NaN,NaN,NaN,NaN,NaN,403 Forbidden 403 Forbidden nginx,http://adfox.ru,1
3,3,13,http://tube.buzzoola.com,NaN,NaN,NaN,NaN,NaN,403 Forbidden 403 Forbidden nginx,http://buzzoola.com,1
4,4,14,http://m.facebook.com,Akado,NaN,NaN,NaN,NaN,﻿ Akado Подключение ИНТЕРАКТИВНОГО ТВ Отправит...,http://facebook.com,1

,index,url_host,title,uri,description,site_name,keywords,text,site_url,vpn_only
0,0,http://instagram.com,Akado,NaN,NaN,NaN,NaN,﻿ Akado Подключение ИНТЕРАКТИВНОГО ТВ Отправит...,http://instagram.com,1
11,11,http://st.mycdn.me,NaN,NaN,NaN,NaN,NaN,403 Forbidden 403 Forbidden Apache,http://mycdn.me,1
12,12,http://banners.adfox.ru,NaN,NaN,NaN,NaN,NaN,403 Forbidden 403 Forbidden nginx,http://adfox.ru,1
13,13,http://tube.buzzoola.com,NaN,NaN,NaN,NaN,NaN,403 Forbidden 403 Forbidden nginx,http://buzzoola.com,1
14,14,http://m.facebook.com,Akado,NaN,NaN,NaN,NaN,﻿ Akado Подключение ИНТЕРАКТИВНОГО ТВ Отправит...,http://facebook.com,1
...,...,...,...,...,...,...,...,...,...,...
670,670,http://mp3-kniga.com,Akado,NaN,NaN,NaN,NaN,﻿ Akado Подключение ИНТЕРАКТИВНОГО ТВ Отправит...,http://mp3-kniga.com,1
671,671,http://ao.lordfilms-s.tv,Akado,NaN,NaN,NaN,NaN,﻿ Akado Подключение ИНТЕРАКТИВНОГО ТВ Отправит...,http://lordfilms-s.tv,1
672,672,http://id22.lordfilm.codes,Akado,NaN,NaN,NaN,NaN,﻿ Akado Подключение ИНТЕРАКТИВНОГО ТВ Отправит...,http://lordfilm.codes,1
673,673,http://lords.cam,Akado,NaN,NaN,NaN,NaN,﻿ Akado Подключение ИНТЕРАКТИВНОГО ТВ Отправит...,http://lords.cam,1
674,674,http://tolstoy-lit.ru,NaN,NaN,NaN,NaN,NaN,403 Forbidden Forbidden You don't have permiss...,http://tolstoy-lit.ru,1

In [84]:
df[df['vpn_only']==1]

,url_host,text
11,http://instagram.com,﻿ Akado Подключение ИНТЕРАКТИВНОГО ТВ Отправит...
19,http://sun9-29.userapi.com,403 Forbidden 403 Forbidden kittenx
20,http://sun9-32.userapi.com,403 Forbidden 403 Forbidden kittenx
21,http://sun9-17.userapi.com,403 Forbidden 403 Forbidden kittenx
22,http://sun9-27.userapi.com,403 Forbidden 403 Forbidden kittenx
...,...,...
9884,http://mp3-kniga.com,﻿ Akado Подключение ИНТЕРАКТИВНОГО ТВ Отправит...
9945,http://ao.lordfilms-s.tv,﻿ Akado Подключение ИНТЕРАКТИВНОГО ТВ Отправит...
9949,http://id22.lordfilm.codes,﻿ Akado Подключение ИНТЕРАКТИВНОГО ТВ Отправит...
9977,http://lords.cam,﻿ Akado Подключение ИНТЕРАКТИВНОГО ТВ Отправит...
9995,http://tolstoy-lit.ru,403 Forbidden Forbidden You don't have permiss...

In [85]:
sourceFileName = 'sites_out_copy.xls'
targetFileName = 'sites_out_utf_copy.xls'

In [12]:
import codecs
BLOCKSIZE = 1048576 # or some other, desired size in bytes
with codecs.open(sourceFileName, "r", "mac-roman") as sourceFile:
    with codecs.open(targetFileName, "w", "utf-8") as targetFile:
        while True:
            contents = sourceFile.read(BLOCKSIZE)
            if not contents:
                break
            targetFile.write(contents)