In [2]:
import pandas as pd
from tqdm import tqdm

In [5]:
cities = pd.read_csv("./spisok_gorodov_RU.csv",sep=';')

In [6]:
from modules.memory_utils import pandas_reduce_mem_usage, pandas_string_to_cat, my_reset

In [7]:
cities.head()

,Название города,Регион,Округ,Широта,Долгота
0,Хмельницкий,Хмельницкая область,Центральная Украина,49.416668,27.000000
1,Каменец-Подольский,Хмельницкая область,Центральная Украина,48.683334,26.583332
2,Нетишин,Хмельницкая область,Центральная Украина,50.346695,26.633587
3,Славута,Хмельницкая область,Центральная Украина,50.299999,26.866667
4,Староконстантинов,Хмельницкая область,Центральная Украина,49.755554,27.220833

In [8]:
LOCAL_DATA_PATH = './data/'
SPLIT_SEED = 42

df = pandas_reduce_mem_usage( 
        pd.read_parquet(
            f'{LOCAL_DATA_PATH}competition_data_final_pqt/part-00000-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet'
    ))
df

Memory usage of dataframe is 2988.16 MB

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 12/12 [00:02<00:00,  4.91it/s]

Memory usage after optimization is: 2521.26 MB
Decreased by 15.6%

,region_name,city_name,cpe_manufacturer_name,cpe_model_name,url_host,cpe_type_cd,cpe_model_os_type,price,date,part_of_day,request_cnt,user_id
0,Краснодарский край,Краснодар,Apple,iPhone 7,ad.adriver.ru,smartphone,iOS,20368.0,2022-06-15,morning,1,45098
1,Краснодарский край,Краснодар,Apple,iPhone 7,apple.com,smartphone,iOS,20368.0,2022-06-19,morning,1,45098
2,Краснодарский край,Краснодар,Apple,iPhone 7,avatars.mds.yandex.net,smartphone,iOS,20368.0,2022-06-12,day,1,45098
3,Краснодарский край,Краснодар,Apple,iPhone 7,googleads.g.doubleclick.net,smartphone,iOS,20368.0,2022-05-16,day,1,45098
4,Краснодарский край,Краснодар,Apple,iPhone 7,googleads.g.doubleclick.net,smartphone,iOS,20368.0,2022-05-30,day,1,45098
...,...,...,...,...,...,...,...,...,...,...,...,...
32638704,Самарская область,Самара,Xiaomi,Redmi Note 8,sun9-17.userapi.com,smartphone,Android,NaN,2022-04-21,morning,1,162531
32638705,Самарская область,Самара,Xiaomi,Redmi Note 8,sun9-27.userapi.com,smartphone,Android,NaN,2022-04-11,morning,1,162531
32638706,Самарская область,Самара,Xiaomi,Redmi Note 8,sun9-85.userapi.com,smartphone,Android,NaN,2022-04-01,evening,1,162531
32638707,Самарская область,Самара,Xiaomi,Redmi Note 8,sun9-85.userapi.com,smartphone,Android,NaN,2022-04-04,day,2,162531
32638708,Самарская область,Самара,Xiaomi,Redmi Note 8,videoroll.net,smartphone,Android,NaN,2022-04-17,evening,1,162531

In [10]:
def long_lat(city_name, cities_df):
    long = cities_df['Широта'][cities_df['Название города']==city_name]
    lat = cities_df['Долгота'][cities_df['Название города']==city_name]
    return long,lat

In [ ]:
tqdm.pandas()
df[['long','lat']]=df['city_name'].progress_apply(lambda x: long_lat(x, cities))

In [16]:
df[df['price'].isnull()]['cpe_model_name'].unique().shape

(197,)