In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
cities = pd.read_csv("./spisok_gorodov_RU.csv",sep=';')

In [3]:
from modules.memory_utils import pandas_reduce_mem_usage, pandas_string_to_cat, my_reset

In [4]:
cities.head()

,Название города,Регион,Округ,Широта,Долгота
0,Хмельницкий,Хмельницкая область,Центральная Украина,49.416668,27.000000
1,Каменец-Подольский,Хмельницкая область,Центральная Украина,48.683334,26.583332
2,Нетишин,Хмельницкая область,Центральная Украина,50.346695,26.633587
3,Славута,Хмельницкая область,Центральная Украина,50.299999,26.866667
4,Староконстантинов,Хмельницкая область,Центральная Украина,49.755554,27.220833

In [5]:
LOCAL_DATA_PATH = './data/'
SPLIT_SEED = 42

df = pandas_reduce_mem_usage( 
        pd.read_parquet(
            f'{LOCAL_DATA_PATH}competition_data_final_pqt/'
    ))
df

Memory usage of dataframe is 29562.33 MB

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 12/12 [00:03<00:00,  3.28it/s]

Memory usage after optimization is: 24943.21 MB
Decreased by 15.6%

,region_name,city_name,cpe_manufacturer_name,cpe_model_name,url_host,cpe_type_cd,cpe_model_os_type,price,date,part_of_day,request_cnt,user_id
0,Краснодарский край,Краснодар,Apple,iPhone 7,ad.adriver.ru,smartphone,iOS,20368.0,2022-06-15,morning,1,45098
1,Краснодарский край,Краснодар,Apple,iPhone 7,apple.com,smartphone,iOS,20368.0,2022-06-19,morning,1,45098
2,Краснодарский край,Краснодар,Apple,iPhone 7,avatars.mds.yandex.net,smartphone,iOS,20368.0,2022-06-12,day,1,45098
3,Краснодарский край,Краснодар,Apple,iPhone 7,googleads.g.doubleclick.net,smartphone,iOS,20368.0,2022-05-16,day,1,45098
4,Краснодарский край,Краснодар,Apple,iPhone 7,googleads.g.doubleclick.net,smartphone,iOS,20368.0,2022-05-30,day,1,45098
...,...,...,...,...,...,...,...,...,...,...,...,...
322899430,Калужская область,Обнинск,Samsung,Galaxy A30s Dual,avatars.mds.yandex.net,smartphone,Android,16376.0,2021-07-12,morning,1,300964
322899431,Калужская область,Обнинск,Samsung,Galaxy A30s Dual,googleads.g.doubleclick.net,smartphone,Android,16376.0,2021-06-20,evening,1,300964
322899432,Калужская область,Обнинск,Samsung,Galaxy A30s Dual,online.sberbank.ru,smartphone,Android,16376.0,2021-08-05,day,1,300964
322899433,Калужская область,Обнинск,Samsung,Galaxy A30s Dual,s0.2mdn.net,smartphone,Android,16376.0,2021-07-19,evening,1,300964
322899434,Калужская область,Обнинск,Samsung,Galaxy A30s Dual,zen.yandex.ru,smartphone,Android,16376.0,2021-08-09,night,1,300964

In [6]:
def long_lat(city_name, cities_df):
    long = cities_df['Широта'][cities_df['Название города']==city_name]
    lat = cities_df['Долгота'][cities_df['Название города']==city_name]
    return long,lat

In [ ]:
tqdm.pandas()
df[['long','lat']]=df['city_name'].progress_apply(lambda x: long_lat(x, cities))

In [11]:
df[df['price'].isnull()][['cpe_model_name','cpe_manufacturer_name']].unique('cpe_model_name')

AttributeError: 'DataFrame' object has no attribute 'unique'

In [25]:
df1 = df[df['price'].isnull()].drop_duplicates(subset=["cpe_model_name"], keep='last')[['cpe_manufacturer_name','cpe_model_name']]

In [31]:
df1.reset_index().drop(['index'],axis=1).to_csv('models_no_price.csv')

,region_name,city_name,cpe_manufacturer_name,cpe_model_name,url_host,cpe_type_cd,cpe_model_os_type,price,date,part_of_day,request_cnt,user_id
1455204,Москва,Москва,LG,K10 LTE Dual,yandex.ru,smartphone,Android,NaN,2021-08-06,evening,4,113364
5492493,Москва,Москва,Samsung,Galaxy Note 20,google.com,smartphone,Android,NaN,2021-06-29,day,1,128860
11797404,Москва,Москва,Samsung,Galaxy S22 Ultra,play.google.com,smartphone,Android,NaN,2022-03-11,evening,1,181965
12387722,Москва,Москва,Xiaomi,Mi 11 Lite 5G,i.ytimg.com,smartphone,Android,NaN,2021-06-16,night,1,92774
12441192,Москва,Москва,Xiaomi,Xiaomi 11T Pro,vk.com,smartphone,Android,NaN,2022-05-17,evening,1,211797
...,...,...,...,...,...,...,...,...,...,...,...,...
322698416,Санкт-Петербург,Санкт-Петербург,Samsung,Galaxy M31,i.ytimg.com,smartphone,Android,NaN,2021-06-20,morning,1,236143
322810690,Свердловская область,Екатеринбург,Realme Chongqing Mobile Telecommunications Cor...,RMX2180,thesame.tv,smartphone,Android,NaN,2021-07-03,morning,1,406300
322857396,Санкт-Петербург,Санкт-Петербург,Samsung,Galaxy S10,api.cian.ru,smartphone,Android,NaN,2021-07-12,day,1,266119
322878857,Москва,Москва,Motorola,Moto G9 Play,yastatic.net,smartphone,Android,NaN,2021-07-18,evening,1,411928
322884351,Москва,Москва,Huawei,P Smart Plus,zen.yandex.ru,smartphone,Android,NaN,2021-08-08,morning,2,96514